GLITCH_LOCAL_HOST=127.0.0.1
GLITCH_LOCAL_PORT=8791
GLITCH_LOCAL_TOKEN=replace-with-a-long-random-model-token
GLITCH_OPERATOR_TOKEN=replace-with-a-different-long-random-operator-token
GLITCH_DATA_DIR=./data
GLITCH_GATEWAY_MODE=shadow
GLITCH_PAPER_INITIAL_EQUITY_USD=1000
GLITCH_PAPER_INITIAL_BTC_PRICE_USD=60000
